.Pagination
  position absolute
  background-color #cccccc
  padding 1em 1em
  bottom 0
  box-sizing border-box
  width 100%
  display flex
  justify-content space-between
  &__disabled
    pointer-events none
    cursor not-allowed
    opacity 0.5