.List
  &__wrapper
    border-top 1px solid #cccccc
    padding 1em 1em
    max-height calc(100vh - 355px)
    overflow auto
.Element
  &__title
    font-size 1.2em
    font-weight 700
  &__panel
    border 1px solid #cccccc
    padding 1em
    border-radius 5px
    margin 1em 0
    display flex
    justify-content space-between
    > div
      align-self center
    button
      margin-left 1em