.App
  position relative
  box-sizing border-box
  height 100vh
.Calendar
  display grid
  grid-template-areas 'heading heading' 'filters button' 'list list'
  grid-template-rows auto
  grid-gap 1em
  &__heading
    grid-area heading
.Filters
  grid-area filters
.SwitcherButton
  grid-area button
  align-self center
  justify-self end
  padding 0 1em
.List
  grid-area list