.Filters
  padding 0 1em
  &__wrapper
    display flex
    flex-direction row
    margin-bottom 1em
    label
      min-width 200px
      align-self center
    .Select
      min-width 410px
      max-width 100%