@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic')

body
  margin 0
  padding 0
body, input, select, textarea, button
  font-family 'Roboto Mono', monospace
button
  cursor pointer